html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto -3.2em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  max-width: 50em; }

footer {
  height: 1.2em;
  padding: 1em; }

.push {
  height: 3.2em; }

.brand {
  font-family: "Varela Round", sans-serif;
  letter-spacing: -0.12em;
  color: #cc4400; }
  .brand .dot {
    letter-spacing: normal; }

h1 {
  text-align: center;
  margin-top: 1em; }
  h1.answer {
    font-size: 10em;
    margin-bottom: 1em; }
  h1.brand {
    font-size: 7em;
    margin-bottom: 0.2em; }

h2 {
  font-size: 1.6em;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  margin: 1em; }

form {
  text-align: center; }

.well {
  background: white;
  border: 0.25em solid #cc4400;
  margin: 1em; }
