html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto -7em;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

footer {
  height: 7em;
  background: orange; }

.push {
  height: 7em; }
