$footer_height: 3.2em
$footer_padding: 1em

html,
body
    height: 100%
    margin: 0
    padding: 0

.container
    margin: 0 auto $footer_height*-1
    min-height: 100%
    height: auto !important
    height: 100%

footer
    height: $footer_height - 2*$footer_padding
    padding: $footer_padding

.push
    height: $footer_height

h1
    text-align: center

h1.answer
    font-size: 10em
    margin: 1em 0

h2
    font-size: 1.6em
    text-align: center
    font-weight: normal
    font-style: italic

form.buttons
    text-align: center

.well
    background: #ffffd0
    border: 1px solid #cc0
