$footer_height: 7em
$footer_padding: 1em

html,
body
    height: 100%
    margin: 0
    padding: 0

.container
    margin: 0 auto $footer_height*-1
    min-height: 100%
    height: auto !important
    height: 100%

footer
    height: $footer_height - 2*$footer_padding
    padding: $footer_padding
    background: orange

.push
    height: $footer_height

h1.answer
    font-size: 10em
    text-align: center
    margin: 1em 0

form.buttons
    text-align: center
