{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title_hyphen %}{% endblock %}

{% block page %}
    <h1 class="brand"><span class="end">end</span><span class="of">of</span><span class="dot">.</span><span class="it">it</span></h1>
    <h2>Bringing powerful and sophisticated web rhetoric to the masses</h2>

    <div class="well">
        {% set demo_url =  url_for('visit_question_page', page_name='didijustwintheargument') %}
        <p>To make your own page like <a href="{{ demo_url }}">{{ demo_url }}</a>, either go to the address you want and claim it if it doesn't yet exist, or do it right here:</p>
        <form action="{{ url_for('new_question_page') }}" method="post">
            {{ render_field(form.page_name, value=page_name) }}

            <button type="submit" class="btn btn-success" name="answer" value="1">YES</button>
            <button type="submit" class="btn btn-danger" name="answer" value="0">NO</button>
        </form>
    </div>
    <div class="well clearfix">
        <p class="pull-left">Made by <a href="https://twitter.com/intent/user?screen_name=rogue_michael" class="icon-twitter">@rogue_michael</a></p>
        <p class="pull-right"><a href="https://github.com/exonian/endofit">Code</a> hosted at GitHub.</p>
    </div>
{% endblock page %}
