{% extends "base.html" %}

{% block title %}Admin for {{ question_object.page_name }}{% endblock title %}

{% block page %}
    <h1 class="answer">{{ question_object.get_display_answer() }}</h1>

    <form class="buttons" action="" method="post">
        <button type="submit" class="btn btn-success" name="answer" value="1">YES</button>
        <button type="submit" class="btn btn-danger" name="answer" value="0">NO</button>
    </form>

    <div class="well">
        <p>It's a good idea to bookmark this page (<a href="{{ request.url }}">{{ request.url }}</a>)</p>
        <p>You'll need it if you ever want to change the answer to your question</p>
    </div>
{% endblock page %}
